body  {
  font-family: Roboto;
  font-size: 16px;
}

.logo {
  margin-top: 2%;
  margin-left: 10%;
  font-weight: 900;
  font-size: 5em;
  color: #c79b9b;
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url(./fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}