body  {
  font-family: Roboto;
  font-size: 16px;
}

button {
  display: none;
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: #FF00FF;
  color: white;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
}

button:hover {
  background-color: #0000FF;
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url(./fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}